html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#header-div {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

#header-div h1 {
    margin: 0;
    font-size: 36px;
}

#header-div h2 {
    margin: 0;
    font-size: 24px;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0px 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}